
.body{
  background-color: #8ab2ba;
  margin:12 px;
}
h1 {
  text-align: center;
}

.col-md-12 {
  border: 2px solid black ;
  background-color: white;
  margin: 8px;
  padding: 12px;
}

#showing {
 display: none;
 text-align: center;
 padding: 30px;
}

#showing-modulo {
  display: none;
  text-align: center;
  padding: 30px;
}

#showing-NaN {
  display: none;
  text-align: center;
  padding: 30px;
}

#showing-var {
  display: none;
  text-align: center;
  padding: 30px;
}

#showing-dom {
 display: none;
 text-align: center;
 padding: 30px;
}

.js {
  text-decoration: underline;
}

.modulo {
  text-decoration: underline;
}

.NaN {
  text-decoration: underline;
}

.var {
  text-decoration: underline;
}

.dom {
  text-decoration: underline;
}
